.TournInfo{
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li{
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#date-bar button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

#date{ 
    width:200px;
}

#games-list{
    text-align: center;
}

#game-container{
    margin: 0 auto;
    width: 500px; 
    background-color: white;
    height:100px;

}
#game-container p{
    color:black;
}

